.heroComponentRoot {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.backgroundVideo {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 70%);
}

.textBlock {
  z-index: 3;
  position: absolute;
  top: 40%;
  left: 10%;
}

.textTitle {
  position: relative;
  margin-bottom: 15px;
  font-size: 42px;
  letter-spacing: 2px;
  text-align: center;
  color: white;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: white;
    bottom: -15px;
    
  }
}

.textSubtitle {
  margin-top: 30px;
  text-align: center;
  font-weight: 300;
}

.headerMenu {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 3%;
  left: 50%;
  transform: translateX(-50%);
  width: 90vw;
  color: white;
}

.menuList {
  display: flex;
  justify-content: space-between;
}

.menuListItem {
  margin-right: 40px;
  font-size: 16px;
  list-style-type: none;
  white-space: nowrap;
}

.personalInfo {
  display: flex;
}

.location {
  position: relative;
  margin-right: 70px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -2px;
    left: -28px;
    width: 20px;
    height: 20px; /* Размер иконки */
    background: url('/assets/geo.svg') no-repeat; /* Путь к иконке */ // todo: решить проблему: работает, но ругается
    background-size: contain;
  }
}

.phoneNumber {
  position: relative;
  margin-right: 70px;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: -1px;
    left: -28px;
    width: 22px;
    height: 22px; /* Размер иконки */
    background: url('/assets/phone.svg') no-repeat; /* Путь к иконке */ // todo: решить проблему: работает, но ругается
    background-size: contain;
  }
}